---
import { getSchedules } from "../lib/microcms";

const { categoryId } = Astro.props;
const { contents } = await getSchedules();
const filteredContents = contents.filter((content) => content.category.id === categoryId);

// 日付のフォーマット関数（0x月0x日(曜日)）
function formatDate(rawDate: string) {
  const date = new Date(rawDate);
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const day = String(date.getDate()).padStart(2, "0");
  const days = ["sun", "mon", "tue", "wed", "thu", "fri", "sat"];
  const dayOfWeek = days[date.getDay()];
  return `${month}/${day} (${dayOfWeek})`;
}

// 年の取得関数
function getYear(rawDate: string) {
  return new Date(rawDate).getFullYear();
}
---

<ul>
  {
    filteredContents.map((content) => (
      <li>
        <a href={`/schedule/${content.id}`}>
          <span>{formatDate(content.date)}</span>
          <span>{getYear(content.date)}</span>
          <span>{content.category.name}</span>
          <span>{content.title}</span>
        </a>
      </li>
    ))
  }
</ul>
