---
import Form from "@/components/react/Form";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import { getSchedules, getScheduleDetail } from "../../lib/microcms";

export async function getStaticPaths() {
  const { contents } = await getSchedules();
  return contents.map((item) => ({
    params: { id: item.id },
  }));
}

const { id } = Astro.params;
const schedule = await getScheduleDetail(id);

// 日付のフォーマット
const dateObj = new Date(schedule.date);
const formattedDate = dateObj.toLocaleDateString("ja-JP", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout>
  <Title fontSize={"--detail"}>{schedule.title}</Title>
  <div class="flex gap-10">
    {
      schedule.image && (
        <figure class="w-96">
          <img src={schedule.image.url} alt={schedule.title} />
        </figure>
      )
    }
    <dl>
      <div class="flex gap-4 mb-4 items-start">
        <dt class="c-label">DATE</dt>
        <dd>{formattedDate}</dd>
      </div>
      <div class="flex gap-4 mb-4 items-start">
        <dt class="c-label">VENUE</dt>
        <dd>{schedule.venue[0]}</dd>
      </div>
      <div class="flex gap-4 mb-4 items-start">
        <dt class="c-label">OPEN/START</dt>
        <dd>{schedule.open}/{schedule.start}</dd>
      </div>
      <div class="flex gap-4 mb-4 items-start">
        <dt class="c-label">ACT</dt>
        <dd class="whitespace-pre-line">{schedule.act}</dd>
      </div>
      <div class="flex gap-4 mb-4 items-start">
        <dt class="c-label">ADV/DOOR</dt>
        <dd>¥{schedule.adv}/¥{schedule.door}(+1Drink ¥600)</dd>
      </div>
    </dl>
  </div>
  <Form client:load schedule={schedule} formattedDate={formattedDate} />
</Layout>
